.ProductList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin: 20px;
}

@media (max-width: 600px) {
  .ProductList {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 300px) {
  .ProductList {
    grid-template-columns: 1fr;
  }
}

.card {
  padding: 10px;
  height: 100%;
  width: 100%;
  margin-bottom: 0px;
}

.Item {
  position: relative;
  width: 100%;
  height: 100%;
}

.Item-Image {
  cursor: pointer;
}

.hover {
  filter: brightness(60%);
}

.Item-Text-Container {
  position: absolute;
  width: 100%;
  top: 45%;
  z-index: 100;
  text-overflow: wrap;
}

.Item-price {
  text-align: center;
  color: gray;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Item-text {
  margin-top: 10px;
  height: 40px;
  color: black;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
